<%= image_tag @card.image_url %>
<h3>Current Price: <%= @card.current_price %></h3>

<h4>Your desired buy price: <%= @usercard.desired_buy_price %> </h4>
<h4>Your desired sell price: <%= @usercard.desired_sell_price %> </h4>
