// Place all the styles related to the Card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart-1 {
  /*margin-top: 10px;*/
  /*margin-left: 240px;*/
}

.background {
  background-color: grey;
}

.botmarge {
  margin-top: 20px;
}

.rightmarge {
  margin-right: -80px;
}