// Place all the styles related to the usercards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add {
  margin-top: 6px;
}

.cardbox {
  
}

.light_grey {
  h2 {
    color: #000;
  }
}

.bg-light {
  background: rgba(255,255,255,0.3) !important;
  border: solid 1px rgba(255,255,255,0.3) !important;
}